= simple_form_for(@question) do |f|
  = f.error_notification

  .form-inputs
    = f.input :t, label: 'True Version', input_html: { size: 100 }
    = f.input :f, label: 'False Version', input_html: { size: 100 }
    = f.association :topic
    = f.input :domain
    = f.input :public_comments, input_html: { rows: 5, cols: 100}
    = f.input :private_comments, input_html: { rows: 5, cols: 100}
    = f.input :active

  .form-actions
    = f.button :submit
